@{
    Layout = "_Layout";
}

<div>
    Clinic: <a asp-area="Client" asp-controller="Reception" asp-action="Index">Reception</a> <a asp-area="Client" asp-controller="Messaging" asp-action="Index">Messaging</a>
</div>
@RenderBody()