@{
    Layout = "_MyND";
    ViewBag.Title = "Configuration";
    ViewBag.CurrentNav = "Configuration|Index";
}

<h1>MyND Configuration</h1>
<p>Configure system settings to tailor NowDoctor to your preferences.</p>

<h2>Booking</h2>
<h4>Advance Booking Limit</h4>
<details>
    <summary>Weeks</summary>
    Configure the number of weeks clients may book a treatment in advance.
    Default is two weeks.
</details>
<input type="number" />

<a>Reset to defaults</a>