
@{
    ViewData["Title"] = "MCP Index";
    ViewBag.CurrentNav = "Index";
    Layout = "_McpShared";
}

<h1>Master Control Panel (SuperAdmin)</h1>

<div class="table1Wrap" style="margin-bottom: 15px">
    <h2>Quick Actions</h2>
    <ol>
        <li><a asp-area="MCP" asp-controller="PracticeManagement" asp-action="RegisterPractice">Register a new practice.</a></li>
        <li><a asp-area="MCP" asp-controller="ClinicManagement" asp-action="RegisterClinic">Register a new clinic.</a></li>
    </ol>
</div>

<div class="table1Wrap" style="margin-bottom: 15px">
    <h2>Help</h2>
    <p>Choose the section that interests you most from the tabs above.</p>
    <p>Clinics and practices are managed similarly; registration and modification of their data works the same.</p>
    <p>User Account Control may be exercised for any user. The UAC facilitates password reset and lockout.</p>
    <p>Auditing lists recently logins and currently active users.</p>
</div>


<div class="table1Wrap" style="margin-bottom: 15px">
    <h3>Terminology</h3>
    <p><b>Practice:</b> An individual or organisation of medical practitioners who use the ND platform to manage their practice.</p>
    <p><b>Clinic:</b> An organisation which offers rooms for hire to Practitioners to perform their services.</p>
    <p>KNOW THE DIFFERENCE BEFORE YOU DO ANYTHING RASH!</p>
</div>
