
@{
    ViewData["Title"] = "MCP Index";
    ViewBag.CurrentNav = "Index";
    Layout = "_McpShared";
}

<h1>Master Control Panel (SuperAdmin)</h1>

<h2>Quick Actions</h2>
<ol>
    <li><a asp-area="MCP" asp-controller="PracticeManagement" asp-action="RegisterPractice">Register a new practice.</a></li>
    <li><a asp-area="MCP" asp-controller="PracticeManagement" asp-action="ListPractices">View, delete or modify existing practices.</a></li>
    <li><a asp-area="MCP" asp-controller="PracticeManagement" asp-action="PasswordReset">Password reset.</a></li>
    <li>View audit logs.</li>
    <li>View system health.</li>
</ol>