@using HBKPlatform.Globals

@{
    ViewData["Title"] = "MCP Status";
    ViewBag.CurrentNav = "SystemStatus";
    Layout = "_McpShared";
}

<h1>System Status</h1>
<div style="padding: 3px">
    <div style="margin-bottom: 5px;"><pre>@Consts.HBK_NAME</pre></div>
    <p>Version: v@(Consts.VERSION)</p>
    <p>Release date: @Consts.RELEASE_DATE</p>
    <p>Database server: </p>
    <p>Total users registered: </p>
    <p>Total users online: </p>
</div>