@model List<HBKPlatform.Models.DTO.RoomDto>
@{
    Layout = "_MyND";
    ViewBag.CurrentNav = "Reservation|MakeAReservation";
}
@await Html.PartialAsync("_RoomReservationsPartial")

<h1>Make A Reservation</h1>
<p>Available Rooms</p>

<div class="table1OuterWrap">
    <table class="table1">
        <thead class="table1Item"><tr class="table1Item"><td>Name</td> <td>Description</td> <td>Clinic</td> <td>Cost</td> <td>Action</td> </tr></thead>
        @foreach (var room in Model)
        {
            <tr class="table1Item"><td>@room.Title</td> <td>@room.Description</td> <td>????</td> <td>@room.PricePerUse</td> <td><a asp-area="MyND" asp-controller="RoomReservation" asp-action="ChooseDateTime" asp-route-roomId="@room.Id">Book It</a> </td></tr>
        }
    </table>
</div>

<p>NB: This is a alpha-quality view. Advanced search and filtering will debut with the new UI.</p>
