@{
    Layout = "_MyND";
    ViewBag.CurrentNav = "Reservation|MyReservations";
}
@await Html.PartialAsync("_RoomReservationsPartial")

<h1>My Reservations</h1>
<p>You currently hold the following treatment room reservations:</p>
<p>TODO</p>

<p>Book Another</p>
<p>Cancel A Reservation</p>
