@model HBKPlatform.Models.ClientMessageConversationModel
@{
    Layout = "_Client";
    ViewData["Title"] = $"Conversation with {Model.Recipient}";
    ViewData["css"] = "messaging.css";
}

@await Html.PartialAsync("Components/_Messaging")
<form asp-area="Client" asp-controller="Messaging" asp-action="SendMessage" asp-route-pracId="@Model.PractitionerId" method="post">
    <textarea name="messageBody" id="messageBody" style="width:450px;"></textarea>
    <input type="submit" value="Send" id="btnSend" />
</form>

