textarea#noteBody {
    width: 500px;
    height: 300px;
}

div#clientRecordWrap {
    max-width: 700px;
    min-height: 200px;
}

div#clientRecordStuffing {
    height: 100%;
    background-color: #ffffe9;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    min-height: 200px;
}

div.clientRecordItem {
    display: flex;
    padding: 10px 4px 0 4px;
    justify-content: space-around;
    flex-wrap: nowrap;
    border-top: 1px solid black;
    border-left: 1px solid;
    border-right: 1px solid;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: #ffffe9;
}

div.clientRecordView {
    background-color: #ffffe9;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
}
