html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
    background-color: #f9f9f9;
    font-family: cabin, Verdana, Geneva, Tahoma, sans-serif;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}
body {
}

div#mainPageBody {
    padding: 20px 0 20px 0;
    min-height: 500px;
}
h1, h2, h3, mci-body-font {
    font-family: cabin, Verdana, Geneva, Tahoma, sans-serif !important;
}

/* Global Header */

nav#mciNavBar {
    background-color: #284d22;
    font-weight: 400;
    color: white;
    padding: 0 20px 0 20px;
}

a#mciName {
    font-weight: bold;
    font-family: barlow-med, Verdana, Geneva, Tahoma, sans-serif;
}

.navbar-dark .navbar-nav .nav-link, .navbar-brand, .navbar-light {
    color: #ffffff !important;
}

/* Reusable Components */

div#mainHeader {
    padding-bottom: 10px;
}

div.action-section {
    padding: 10px;
    margin-bottom: 15px;
    border: 0px;
    width: 100%;
    background-color: #feffcb;
    border-radius: 15px;
}

.action-section a, .action-section a:visited {
    text-decoration-line: none;
}

div.list-body {
    padding-bottom: 10px;
}

/* Practitioner Views */

div#pracDetailsWrapper {
    min-height: 320px;
}

p#pracName {
    font-size: 1.5em;
    font-style: italic;
}

div#pracImgWrap {
    display: inline;
}

img#pracImg {
    float:left;
    max-height: 320px;
    max-width: 220px;
    max-height: 300px;
}

div#pracDetails {
    margin-left: 20px;
    display: inline-block;
}

div#pracReviewSummary {
}

div.review-item {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

p.review-item-title {
    font-weight: bold;
    text-decoration-line: underline;
}

div#pracReviewSection {
    margin-top: 30px;
}

textarea#commentArea {
    height: 150px;
}

/* Search View */
img.pracSml {
    width: 50px;
    height: 50px;
}

td.pracImg {
    width: 70px;
}

a.pracLink { }

tr.pracListingRow {
    font-size: 30px;
}

/* Home  - TODO breakout! */

input#mainSearchBox {
    max-width: 450px;
    height: 3em;
    font-size: 1.0em;
    border-radius: 10px;
    width: 100%;
}

button#mainSearchButton {
    border-radius: 5px;
    background-color: #b9b7b7;
    border: 1px solid #939393;
}

img#homeBkgImg {
    width: 100%;
}

div#searchBody {
}

div#homeContainer {
    text-align: center;
    margin-top: 0px;
    min-height: 500px;
}

/* CONVENIENCES */
.no-margins {
    margin: 0;
}
