html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
    background-color: #f9f9f9;
    font-family: cabin, Verdana, Geneva, Tahoma, sans-serif;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}
body {
    margin:0;
}

div#mainPageBody {
    margin: 20px;
    min-height: 500px;
    background: #ececec;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 4px #686868;
}
h1, h2, h3, mci-body-font {
    font-family: cabin, Verdana, Geneva, Tahoma, sans-serif !important;
}

/* Global Header */

nav#mciNavBar {
    background: linear-gradient(70deg, #0083bf, #eb018c);
    font-weight: 400;
    color: white;
    padding: 0 20px 0 20px;
    min-height: 90px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

a#mciName {
    font-weight: bold;
    font-family: barlow-med, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    text-decoration: none;
}

.navbar-dark .navbar-nav .nav-link, .navbar-brand, .navbar-light {
    color: #ffffff !important;
}

li.nav-item {
    display: inline;
    font-size:1.2em;
    font-weight: bold;
    margin-left: 8px;
}

li.nav-item a {
   text-decoration: none; 
}
li.nav-item a:hover {
    color: #eb018c;
    text-decoration: underline;
}

/* Reusable Components */

div#mainHeader {
    padding-bottom: 10px;
}

div.action-section {
    padding: 10px;
    margin-bottom: 15px;
    border: 0px;
    width: 100%;
    background-color: #feffcb;
    border-radius: 15px;
}

.action-section a, .action-section a:visited {
    text-decoration-line: none;
}

div.list-body {
    padding-bottom: 10px;
}

/* MyND */
.subNav {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    border-bottom: 1px solid grey;
    margin-bottom: 4px;
}
.subNav a, .subNav a:visited {
    text-decoration: none;
    border-top: 1px solid grey;
    min-width: 30px;
    display: inline-block;
    padding: 4px;
    color: #282828;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-right: 10px;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    background-color: #d7d7d7;
}

.subNav a:hover {
    background-color: #998eca;
    text-shadow: 1px 1px 2px #b7b7b7;
}

.subNav a.active {
    background-color: #99a8fd; 
}

/* Home  - TODO breakout! */
div#homeContainer {
    text-align: center;
    margin-top: 0px;
    min-height: 500px;
}

footer {
    margin: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
}

div.footer-item {}

/* CONVENIENCES */
.no-margins {
    margin: 0;
}
