/* overrides */
html {
    background: repeating-linear-gradient( 45deg, #ffc960, #ffc960 10px, #861616 10px, #861616 20px );
}
div#mainPageBody { background-color: #b3b3b3;}
footer { 
    margin: 20px;
    background: #b3b3b3;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 4px #686868;
}

/* forms */
form#uac select {
    min-width: 300px;
    height: 35px;
}

input[type="submit"]
{
    width: 100px;
    height: 30px;
    float: right;
}

div#uacWrapper {
   max-width: 450px; 
}

div#lockoutStatus.inactive {
    color: #bf0000;
}

div#lockoutStatus.active {
    color: green;
}
