div#conversationBody {
    padding: 20px;
    border: 1px solid #eae7e7;
    border-radius: 5px;
    background-color: #eae7e7;
    max-width:600px;
}

div.conversation-message {
    padding: 10px;
    margin-top:5px;
    margin-bottom:5px;
    border-radius: 5px;
    display: block;
    background-color: #9a9a9a;
}

div.conversation-message-sender {
    background-color: #8bc98b;
}

div#messageInputWrap {
   padding: 10px; 
}
form#messageInput {
    height: 100px;     
    max-width: 600px;
    padding-top:10px;
    display:flex;
    flex-direction: row;
    flex-float: center;
    align-items: center;
    gap: 10px;
}

input#btnSend {
    height: 50px;
    width: 80px;
    background-color: #8bc98b;
    border-radius: 5px;
}

textarea#messageBody {
    width: 400px;
}

