table, td, tr, th {
    border: 1px solid black;
}

td.ava-ts {
    padding: 5px; 
    cursor: pointer;
    background-color: #9a9a9a;
}

/* For now this covers *both* i.e. when undef is unavailable or unset */
td.ava-ts.unavailable {
    background-color: #c0402a;
}

td.ava-ts.indefiniteAvailable {
    background-color: #a5da7b;
}

td.ava-ts.indefiniteUnavailable {
/*    background-color: #f4907e;*/
}

td.ava-ts.available {
    background-color: #00c600;
}



td.dayCell {
    cursor: pointer;
}