/* TreatmentCreate */

form#treatmentDetails {
    max-width: 550px;
}
#treatmentDetails fieldset {
}

label.form-textfield {
    display: block;
}
textarea#description {
    width: 400px;
    height: 200px; 
}
input#title {
    width: 400px;
}

div#treatmentsWrap {
    max-width: 650px;
    background-color: #fdf9f9;
    padding: 10px;
    border-radius: 5px;
}

div.treatmentItem {
    padding: 2px;
    margin: 3px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid #d7d7d7;
}