/* TreatmentCreate */

form#treatmentDetails {
    max-width: 550px;
}
#treatmentDetails fieldset {
}

label.form-textfield {
    display: block;
}
textarea#description {
    width: 400px;
    height: 200px; 
}
input#title {
    width: 400px;
}

div.treatmentWrap {
    margin-top: 5px;
    margin-bottom: 10px;
}

/* cancellation form */
textarea#cancellationReason {
    width: 400px;
    height: 200px;
}
