@model HBKPlatform.Models.View.MyND.AllClients
@{
    Layout = "_MyND";
    ViewBag.CurrentNav = "ClientDetail|AllClients";
    ViewBag.Title = "All Clients";
}

<h1>All client details</h1>
<div id="table1Wrap">
@foreach (var client in Model.Clients)
{
    <div class="table1Item"><span>@client.Name</span> <a asp-area="MyND" asp-controller="Client" asp-action="AddEditClient" asp-route-clientId="@client.Id">Edit</a></div>
}
</div>
<p><a asp-area="MyND" asp-controller="Client" asp-action="AddEditClient">Add New Client</a></p>
