@model HBKPlatform.Models.View.ClientUpcomingAppointmentsView
@{
    ViewBag.Title = "My Appointments";
    Layout = "_Client";
}

<h2>Upcoming appointments.</h2>
@foreach (var appointment in Model.UpcomingAppointments)
{
    <p>@appointment.TreatmentTitle with @appointment.PractitionerName on @appointment.DateString at @appointment.TimeString.</p>
}
