
@{
    ViewBag.Title = "Booking wizard";
    Layout = "_Client";
}

<h1>Booking wizard.</h1>
<h2>Request received</h2>
<p>Your booking for $TREATMENT on $DATE at $TIME has been requested/Confirmed.</p>
<p>You will receive an email confirming the booking.</p>
