@model HBKPlatform.Models.View.TimeslotSelectView;
@{
    ViewBag.Title = "Booking wizard: Select a timeslot";
    Layout = "_Client";
}

<h1>Booking wizard.</h1>
<p>Your chosen service: @Model.TreatmentName</p>

<h2>Select a timeslot</h2>
@foreach (var timeslot in Model.AvailableTimeslots)
{
    <p>@timeslot.Description <a asp-area="Client" asp-controller="Appointment" asp-action="" asp-route-treatmentId="@Model.TreatmentId" asp-route-weekNum="" asp-route-timeslotId="@timeslot.Id">book</a></p>
}