@{
    ViewData["Title"] = "MCP Practice Management";
    ViewBag.CurrentNav = "PracticeManagement";
    Layout = "_McpShared";
}
<h1>Practice Management</h1>
<p>A "Practice" is any individual or organisation using the MyND platform to manage its patients and schedule appointments for them.</p>
<ol>
    <li><a asp-area="MCP" asp-controller="PracticeManagement" asp-action="RegisterPractice">Register a new practice.</a></li>
    <li><a asp-area="MCP" asp-controller="PracticeManagement" asp-action="ListPractices">View, delete or modify existing practices.</a></li>
    <li><a asp-area="MCP" asp-controller="PracticeManagement" asp-action="PasswordReset">User Lockout & Password reset.</a></li>
</ol>