@using HBKPlatform.Models.View.MCP
@model HBKPlatform.Models.View.MCP.UserAccountFunctions;
@{
    ViewData["Title"] = "MCP Practice Management - Password Reset Form";
    ViewBag.CurrentNav = "PracticeManagement";
    ViewBag.Modules = "mcp-uac-practice.js";
    Layout = "_McpShared";
}
<h1>User Account Functions</h1>

<div id="uacWrapper">
<form asp-area="MCP" asp-controller="PracticeManagement" asp-action="DoUacAction" method="post" id="uac">
    <fieldset>
        <legend for="practiceSelect">Practice Name</legend>
        <select id="practiceSelect" name="practiceId" asp-items="@Model.Practices">
        </select> 
    </fieldset> 
    <fieldset>
        <legend for="practitionerSelect">Practitioner</legend>
        <select id="practitionerSelect" name="practitionerId" disabled>
            <option value="0">Please choose a practice</option>
        </select>
    </fieldset> 
    <fieldset>
        <legend for="lockoutStatus">Practitioner Lockout Status</legend>
        <div id="lockoutStatus">???</div>
        <div id="lockoutEnd">???</div>
    </fieldset> 
    <fieldset>
        <legend>Action</legend>
        <div>
            <input type="radio" id="actionReset" name="action" value="@UacAction.PasswordReset" checked />
            <label for="actionReset">Password Reset</label>
        </div>

        <div>
            <input type="radio" id="actionLockout" name="action" value="@UacAction.ToggleLockout" />
            <label for="actionLockout" id="actionLockoutLabel">Toggle Lockout</label>
        </div>
        
    </fieldset>
    <input id="doIt" type="submit" value="Do It" disabed/>
</form>
</div>