@addTagHelper *, Vite.AspNetCore
@{
    ViewBag.Title = "MyND";
  // does not inherit from old _Layout or _MyND
}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NowDoctor - MyND</title>
    <environment names="Development">
    <!-- Select for dev, Currently empty -->
    </environment>
    <link rel="stylesheet" vite-href="~/src/mynd.js" asp-append-version="true" />
    <script type="module" vite-src="~/src/mynd.js" asp-append-version="true"></script>
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
