@model HBKPlatform.Models.View.MCP.ListClinics;
@{
    ViewData["Title"] = "MCP Clinic Management";
    ViewBag.CurrentNav = "ClinicManagement";
    Layout = "_McpShared";
}

<h1>Current registrants</h1>
<p>Open a clinic to: modify details, send a password reset to the manager, modify activation or delete it from the system.</p>

<div id="table1Wrap">
@foreach (var clinic in Model.Clinics)
{
    <div class="table1Item"><span>@clinic.Name</span> <a asp-area="MCP" asp-controller="ClinicManagement" asp-action="ViewClinic" asp-route-clinicId="@clinic.Id">View Clinic</a></div>
}
</div>
