@using HBKPlatform.Models.View.MCP
@model HBKPlatform.Models.View.MCP.UserAccountFunctions;
@{
    ViewData["Title"] = "MCP Clinic Management - Password Reset Form";
    ViewBag.CurrentNav = "ClinicManagement";
    Layout = "_McpShared";
}
<h1>User Account Functions</h1>

<form>
    <fieldset>
        <label for="clinicSelect">Clinic Name</label>
        <select id="clinicSelect" asp-for="ClinicId" asp-items="@Model.Clinics">
        </select> 
    </fieldset> 
    <fieldset>
        <label for="pracSelect">Practitioner</label>
        <select id="pracSelect">

        </select>
    </fieldset> 
    <fieldset>
      <legend>Action</legend>
        <div>
           <input type="radio" id="actionReset" name="action" value="@UacAction.PasswordReset" checked />
           <label for="actionReset">Password Reset</label>
        </div>

        <div>
            <input type="radio" id="actionLockout" name="action" value="@UacAction.ToggleLockout" />
            <label for="actionLockout" id="actionLockoutLabel">Lockout</label>
        </div>
        
    </fieldset>
    <input type="submit" value="Do It"/>
    
</form>