@model HBKPlatform.Models.View.MyNDReceptionModel
@{
    ViewBag.Title = "Reception";
    Layout = "_MyND";
}

<h2>MyND: Reception</h2>
<p><a asp-area="MyND" asp-controller="Messaging" asp-action="Index">Messaging</a> (@Model.NumUnreadMessages unread)</p>

<p>Upcoming appointments this week: </p>

<h2>Recent Bookings</h2>
<p>Todo.</p>

<h2>Recent Cancellations</h2>
<p>Todo.</p>

<h2>Priority Items</h2>
<p>Todo.</p>

<h2>Statistics</h2>
<p>$x Clients, $x appointments completed</p>