@model HBKPlatform.Models.View.MyNDReceptionModel
@{
    ViewBag.Title = "Reception";
    Layout = "_MyND";
}

<h2>MyND: Reception</h2>
<p><a asp-area="MyND" asp-controller="Messaging" asp-action="Index">Messaging</a> (@Model.NumUnreadMessages unread)</p>
