@page
@model HBKPlatform.Areas.Account.Pages.LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">This account is currently restricted from accessing the platform. Please contact support if you believe this has been in error.</p>
</header>
