@page
@model HBKPlatform.Areas.Account.Pages.LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

<header>
    <h1 class="text-danger">Locked out</h1>
    <p class="text-danger">Your account is currently restricted from accessing the platform.</p>
    <p>This is due to either too many attempts with an invalid password or an admin action.</p>
    <p>Please contact support if you believe this has been in error.</p>
</header>
