@model HBKPlatform.Models.AvailabilityModel;
@{
    Layout = "_MyND";
    ViewBag.CurrentNav = "Appointment|Availability";
    ViewBag.Title = $"Set availability for week {Model.WeekNum}";
    ViewBag.Css = "mynd-setweekavailability.css";
    ViewBag.Modules = "mynd-setweekavailability.js";
}
@await Html.PartialAsync("_AppointmentsPartial")

<h1>Availability</h1>
<p>Week @Model.WeekNum (@Model.WeekStr).</p>

@await Html.PartialAsync("Components/_AvailabilitySelect", Model)

<button id="btnApply" class="changeBtn" disabled="disabled" data-weekNum="@Model.WeekNum">Apply</button>
<button id="btnDiscard" class="changeBtn" disabled="disabled">Discard</button>
<button id="btnRevert" data-weekNum="@Model.WeekNum">Revert</button>
<button id="btnExit">Exit</button>
<div id="changesMade" style="display: none">You have unsaved changes. Click 'Apply' to save them or 'Discard' to revert.</div>
<div>Clicking 'Revert' will revert all timeslots back to being available.</div>
<script>
const isIndefView = false;
</script>