@model HBKPlatform.Models.View.TimeslotManagementView;
@{
    Layout = "_myND";
}
@await Html.PartialAsync("_AppointmentsPartial")

<h1>Timeslot Management</h1>
<p>A timeslot is any period during the day into which a booking may be made.</p>

@foreach (var timeslot in Model.Timeslots)
{
    <p>@timeslot.Day @timeslot.Time.ToShortTimeString() @timeslot.Duration (@timeslot.Description)</p>
}