
@{
    ViewData["Title"] = "Auditing";
    ViewBag.CurrentNav = "Auditing";
    Layout = "_McpShared";
}

<h1>Auditing</h1>

<ol>
    <li><a asp-area="MCP" asp-controller="Auditing" asp-action="WhoIsOnline">Who is online?</a></li>
    <li>Recent Logins</li>
    <li>Access Logs</li>
</ol>