
@{
    ViewData["Title"] = "Auditing";
    ViewBag.CurrentNav = "Auditing";
    Layout = "_McpShared";
}

<h1>Auditing</h1>

<h2>Who Is Online?</h2>
<div id="table1Wrap">
    <div class="table1Item">Not yet implemented</div>
</div>

<p>Total users online:</p>