@model List<HBKPlatform.Models.DTO.RoomLite>
@{
    ViewData["Title"] = "Room Management";
    ViewBag.CurrentNav = "RoomManagement";
    ViewBag.Css = "clinic-roommgmt.css";
    Layout = "_Clinic";
}

<h1>Room List</h1>
<p>Shows all the current rooms in your clinic that are intended for practitioner booking. Here you may add a new room, modify an existing room or delete it from the system.</p>

<div class="table1OuterWrap">
    <table class="table1">
        <thead class="table1Item"><tr class="table1Item"><td>Name</td> <td>Actions</td></tr></thead>
        @foreach (var room in Model)
        {
            <tr class="table1Item"><td class="roomTitle">@room.Title</td> <td><a asp-area="Clinic" asp-controller="Room" asp-action="AddEdit" asp-route-roomId="@room.Id">Modify</a> | <a asp-area="Clinic" asp-controller="Room" asp-action="AvailabilityManagement" asp-route-roomId="@room.Id">Availability</a> | Delete</td> </tr>
        }
    </table>
</div>

<div>
    <a asp-area="Clinic" asp-controller="Room" asp-action="AddEdit">Add New Room</a>
</div>
