@{
    ViewData["Title"] = "Home Page";
}

<div id="homeContainer" class="">
    <h1 class="no-margins mci-body-font">Welcome</h1>
    <p style=""><i>Hbk.Platform from NowDoctor is a comprehensive clinical management platform.</i></p>
    <div id="searchBody">
        <p>N.b. registration is currently not available to end-users. Please contact an admin to be registered into the system.</p>
        <p>Practitioners, clients or clinical managers please --&gt; <a asp-area="Account" asp-page="/Login">login</a>.</p>
    </div>
</div>

