<div id="myNdNavAppointments" class="subNav">
    <a asp-area="MyND" asp-controller="Appointment" asp-action="Index">Overview</a> <a asp-area="MyND" asp-controller="Appointment" asp-action="AvailabilityManagement">Availability Management</a> <a asp-area="MyND" asp-controller="Appointment" asp-action="PractitionerBooking">Booking</a> <a asp-area="MyND" asp-controller="Appointment" asp-action="TimeslotManagement">Timeslot Management</a> <a asp-area="MyND" asp-controller="Appointment" asp-action="TreatmentManagement">Treatment Management</a>
</div>