@model HBKPlatform.Models.ClientMessageConversationModel
@{
    Layout = "_myND";
    ViewData["Title"] = $"Conversation with {Model.Recipient}";
}

<h2>Conversation with @Model.Recipient</h2>
<p>messages</p>
@foreach (var message in Model.Messages)
{
    <p>@message.MessageOrigin : @message.MessageBody</p>
}
<form asp-area="MyND" asp-controller="Messaging" asp-action="SendMessage" asp-route-clientId="@Model.ClientId" method="post">
    <textarea name="messageBody" id="messageBody" style="width:450px;"></textarea>
    <input type="submit" value="Send" />
</form>

