@model HBKPlatform.Models.View.MyND.InboxModel
@{
    ViewBag.Title = "Conversations";
    ViewBag.CurrentNav = "Messaging";
    Layout = "_MyND";
}

<h2>Message Inbox</h2>
<p>My Clients</p>
@foreach (var client in Model.ClientDetails)
{
    <p><a asp-area="MyND" asp-controller="Messaging" asp-action="Conversation" asp-route-clientId="@client.Id">@client.Name</a></p>
}
