@model HBKPlatform.Models.View.MyND.InboxModel
@{
    ViewBag.Title = "Conversations";
    ViewBag.CurrentNav = "Messaging";
    Layout = "_MyND";
}

<h2>Message Inbox</h2>
<p>Read and reply to private messages with your clients.</p>
<div id="table1Wrap">
    <div class="table1Item"><span>Conversation</span></div>
    @foreach (var client in Model.ClientDetails)
    {
        <div class="table1Item"><a asp-area="MyND" asp-controller="Messaging" asp-action="Conversation" asp-route-clientId="@client.Id">@client.Name</a></div>
    }
</div>
