@model HBKPlatform.Models.ClientClinicData

@{
    ViewBag.Title = "Clinic Reception";
    ViewBag.CurentNav = "Reception";
    Layout = "_Client";
}

<h2>Welcome to Reception.</h2>
<h3>Quick actions:</h3>
<p><a asp-area="Client" asp-controller="Messaging" asp-action="Conversation" asp-route-pracId="@Model.PracId">Messaging with @Model.MyPracName</a> (@Model.NumUnreadMessages unread)</p>
<p><a asp-area="Client" asp-controller="Appointment" asp-action="Booking">Book another appointment.</a></p>
