@{
    ViewBag.Title = "Clinic Reception";
    ViewBag.CurrentNav = "Reception";
    Layout = "_Clinic";
}

<h2>Welcome to the Clinic Reception.</h2>
<h3>Quick actions:</h3>
<p><a asp-area="Clinic" asp-controller="Appointment" asp-action="Booking">Add or update room data.</a></p>
<p><a asp-area="Clinic" asp-controller="Appointment" asp-action="Booking">Approve reservations.</a></p>
