@{
    ViewData["Title"] = "Home Page";
    ViewData["scripts"] = "home.js";
}

<div id="homeContainer" class="uk-card uk-card-default uk-card-body">
    <div id="homeBkg">
<!--        <img id="homeBkgImg" src="~/img/samples/memphis.png" /> -->
    </div>
    <h1 class="uk-heading-small no-margins mci-body-font">Welcome</h1>
    <div id="searchBody">
        <p>HBKPlatform WIP.</p>
        <p>Need help? Todo: help<!-- Modal Popover --></p>
    </div>
</div>

