@{
    ViewData["Title"] = "Home Page";
}

<div id="homeContainer" class="">
    <h1 class="no-margins mci-body-font">Welcome</h1>
    <div id="searchBody">
        <p>Practitioners and clients please login.</p>
    </div>
</div>


