@model HBKPlatform.Models.View.ClientRecord
@{
    ViewBag.Title = "Client Record";
    Layout = "_MyND";
}

<h2>Client Record</h2>
<p>@Model.Title</p>
<p>@Model.NoteBody</p>
<p>@Model.Visibility</p>
